{% extends "mainbase.html" %}
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body class="no-skin">
{% block content %}
    <div class="main-content">
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try {
                    ace.settings.check('breadcrumbs', 'fixed')
                } catch (e) {
                }
                                                  jQuery(function ($) {
                    $("#btn-back").bind("click",
                            function () {
                                window.location.href = "{% url 'zabbixmgr:networkinterface.list' %}"
                            });
                    $("#btn-set").bind("click",
                            function(){
                                window.location.href = "{% url 'zabbixmgr:allnetworkinterface.set' %}"
                            });
                })
            </script>


            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="#">首页</a>
                </li>

                <li><a href="#">网络端口监控</a></li>
                <li><a href="{% url 'zabbixmgr:networkinterface.list' %}">网络端口分组管理</a></li>
                <li class="active">新增分组</li>
            </ul><!-- /.breadcrumb -->
        </div>

         <div class="page-content">
            <div class="row">
                <div class="col-xs-12" >
                    <div class="widget-box col-xs-12">
                        <div class="widget-header widget-header-blue widget-header-flat">
                            <h4 class="widget-title lighter">新增分组</h4>

                        </div>
                        <div>
                            <button class="btn btn-info btn-sm tooltip-info" id="btn-set" style="float:left; margin:10px 3px 10px 3px;">
                                更新主机端口列表
                            </button>
                        </div>
                        <div class="space-20"></div>

                    <form style="padding:2% " class="form-horizontal" role="form" action="" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="col-sm-4 control-label no-padding-right"> {{ form.group_name.label }} </label>
                            <div class="col-sm-8">
                                {{ form.group_name }}
                                <div class="form-group has-error">
                                    <div class="help-block col-xs-12 col-sm-reset inline">{{ form.group_name.errors }} </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label no-padding-right"> {{ form.name.label }} </label>
                            <div class="col-sm-8">
                                {{ form.name }}
                                <div class="form-group has-error">
                                    <div class="help-block col-xs-12 col-sm-reset inline">{{ form.name.errors }} </div>
                                </div>
                            </div>
                        </div>
                         <div class="space-20"></div>
                            <hr>

                          {% include "form_buttons.html" %}<!-- /.form_buttons -->
                            <div class="space-10"></div>

                    </form>

              </div>
                </div>
            </div>
        </div>

    </div>
{#    <script src="{% static 'js/jquery.bootstrap-duallistbox.min.js' %}" charset="utf-8"></script>#}
{#    <script>#}
{#        var demo1 = $('select[name="permission"]').bootstrapDualListbox({#}
{#            nonSelectedListLabel: '可选择权限',#}
{#            selectedListLabel: '已选择权限',#}
{#            preserveSelectionOnMove: 'moved',#}
{#            moveOnSelect: false,#}
{#        });#}
{##}
{#    </script>#}
{% endblock %}
<!-- /.main-content -->
</body>
</html>
