<!-- -->

<div  id="ace-settings-box">
    <div class="pull-left width-100">
        <div style="width:100%; border-bottom:1px #dedede dashed; float:left">
            <div class="input-group col-sm-3" style="margin-top: 10px; float: right;">
                时间粒度：<input  id="tab-in-search" style="margin-right:10px;" name="keywords" placeholder="请选择时间粒度" type="text" list="datetime" size="14" maxlength="32" autocomplete="off" aria-required="true" tabindex="1" class="fieldValInit">
                <datalist id="datetime">
                  <option value="1天">
                  <option value="7天">
                  <option value="1个月">
                  <option value="3个月">
                </datalist>
                <div class="input-group-btn" style="padding-left: 10px">
                    <button class="btn btn-info btn-sm tooltip-info" id="tab-btn-search">
                        查询
                    </button>
                </div>
            </div>
        </div>
    </div><!-- /.pull-left -->

    <!-- /.pull-left -->
</div><!-- /.ace-settings-box -->
