<!-- -->

<div  id="ace-settings-box">
    <div class="pull-left width-100">
        <div style="width:100%; border-bottom:1px #dedede dashed; float:left">
            <div class="input-group col-sm-3" style="margin-top: 10px; float: right;">
                <input class="form-control" id="in-search" name="keywords" placeholder="输入要查询的内容" type="text" >
                <div class="input-group-btn" style="padding-left: 10px">
                    <button class="btn btn-info btn-sm tooltip-info" id="btn-search">
                        查询
                    </button>
                </div>
            </div>
            <button class="btn btn-info btn-sm tooltip-info" id="btn-distribute-ip" style="float:left; margin:10px 3px 10px 3px;">
                ip分配工单
            </button>
            <button class="btn btn-info btn-sm tooltip-info" id="btn-add_device" style="float:left; margin:10px 3px 10px 3px;">
                机架机柜上下架工单添加
            </button>
            <button class="btn btn-info btn-sm tooltip-info" id="btn-add_port" style="float:left; margin:10px 3px 10px 3px;">
                端口带宽分配工单添加
            </button>
        </div>
    </div><!-- /.pull-left -->

    <!-- /.pull-left -->
</div><!-- /.ace-settings-box -->
